<div class='row d-flex flex-row align-content-center justify-content-center'>
    <div *ngIf='balanceCurrencies.length' class='px-2 pr-md-4 col-9 col-md-7'>
        <p class='d-flex flex-row justify-content-between align-content-center'>
            <span class='mat-display-1 my-0 mr-1'>
                <ion-text color='dark'>{{ balance[selectedCurrency].available }}</ion-text>
            </span>
            <span class='my-auto'>
                <ion-text color='dark'>Available</ion-text>
            </span>
        </p>
        <p class='d-flex flex-row justify-content-between align-content-center'>
            <span class='mat-display-1 my-0 mr-1 text-muted'>
                <ion-text color='dark'>{{ balance[selectedCurrency].pending }}</ion-text>
            </span>
            <span class='my-auto'>
                <ion-text color='dark'>Pending</ion-text>
            </span>
        </p>
    </div>

    <div class='pr-1 pl-3 col-3 mt-2 mb-auto d-flex flex-column justify-content-center align-content-center'>
        <mat-form-field>
            <mat-select [(value)]='selectedCurrency' (selectionChange)='onCurrencyChange($event)'>
                <mat-option *ngFor='let currency of balanceCurrencies' [value]="currency">{{ currency| uppercase }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>