<ion-grid>
    <ion-row class='d-flex flex-row align-items-center justify-content-center'>
        <ion-col class='px-lg-3'>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <span class='mat-display-1 my-0 mr-3'>
                            <ion-text color='dark'>{{ balance[selectedCurrency].available }}</ion-text>
                        </span>
                        <span class='my-auto'>
                            <ion-text color='dark'>Available</ion-text>
                        </span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <span class='mat-display-1 my-0 mr-3 text-muted'>
                            <ion-text color='dark'>{{ balance[selectedCurrency].pending }}</ion-text>
                        </span>
                        <span class='my-auto'>
                            <ion-text color='dark'>Pending</ion-text>
                        </span>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-col>

        <ion-col class='px-lg-3'>
            <ion-item>
                <ion-label>Currency</ion-label>
                <ion-select [(value)]='selectedCurrency'
                    (ionChange)='onCurrencyChange($event)'
                    placeholder='Currency'>
                    <ion-select-option *ngFor='let currency of balanceCurrencies' [value]="currency">{{ currency| uppercase }}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-col>
    </ion-row>
</ion-grid>
