<div class='row d-flex flex-row align-content-center justify-content-between'>
    <div *ngIf='balanceCurrencies.length' class='px-2 pr-md-4 col-9 col-md-7' id='balance-display'>
        <p class='d-flex flex-row justify-content-between align-content-center'>
            <span class='mat-display-1 my-0 mr-3'>
                <ion-text color='dark'>{{ balance[selectedCurrency].available }}</ion-text>
            </span>
            <span class='my-auto'>
                <ion-text color='dark'>Available</ion-text>
            </span>
        </p>
        <p class='d-flex flex-row justify-content-between align-content-center'>
            <span class='mat-display-1 my-0 mr-3 text-muted'>
                <ion-text color='dark'>{{ balance[selectedCurrency].pending }}</ion-text>
            </span>
            <span class='my-auto'>
                <ion-text color='dark'>Pending</ion-text>
            </span>
        </p>
    </div>

    <div class='pr-1 pl-3 col-3 my-auto d-flex flex-column justify-content-center align-content-center' id='currency-display'>
        <ion-select [(value)]='selectedCurrency'
            (ionChange)='onCurrencyChange($event)'
            cancelText="Dismiss"
            placeholder='Currency'>
            <ion-select-option *ngFor='let currency of balanceCurrencies' [value]="currency">{{ currency| uppercase }}</ion-select-option>
        </ion-select>
    </div>
</div>
