<ion-header translucent='true'>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)='close()'>
                <ion-icon slot='start' md='arrow-back-outline' ios='chevron-back-outline'></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Encrypt Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class='mx-3 h-100 d-flex flex-column justify-content-evenly'>
        <ion-row class='pt-5 mt-5 mt-lg-0 pt-lg-0'>
            <ion-col>
                <form [formGroup]='encryptForm'>
                    <ion-list>
                        <ion-item>
                            <ion-label>Password</ion-label>
                            <ion-input type='password' autocomplete="off" formControlName='password'></ion-input>
                            <ion-text class='text-right' color='danger' *ngIf="encryptForm.controls['password'].invalid">
                                {{ getErrors('password') | replace:'_':' ' | titlecase }}
                            </ion-text>
                        </ion-item>

                        <ion-item>
                            <ion-label>Confirm Password</ion-label>
                            <ion-input type='password' autocomplete="off" formControlName='password_repeat'></ion-input>
                            <ion-text class='text-right' color='danger' *ngIf="encryptForm.controls['password_repeat'].invalid">
                                {{ getErrors('password_repeat') | replace:'_':' ' | titlecase }}
                            </ion-text>
                        </ion-item>
                    </ion-list>
                </form>
            </ion-col>
        </ion-row>

        <ion-row class='mt-5 mt-lg-0'>
            <ion-col class='d-flex flex-row justify-content-around'>
                <ion-button color='danger' (click)='onNoClick()'>Cancel</ion-button>
                <ion-button color='primary' (click)='onSuccess()'>Save</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>