<app-top-bar hasMenuButton=true hasQRButton=true></app-top-bar>

<ion-content>
    <!-- Sign In Form -->
    <form [formGroup]="resetForm" class="d-flex flex-column h-100 pb-3 mx-3" (ngSubmit)="doReset()">
        <!-- Branding -->
        <div class="branding logo logo-branded w-100 m-auto d-block"></div>

        <ion-list class='m-auto' color='dark' inset>
            <ion-item class="form-group m-auto">
                <ion-icon class="ti-user form-input-prefix mr-3"></ion-icon>
                <ion-input formControlName="email" placeholder="Email" type='email' readonly></ion-input>
            </ion-item>
            <ion-text color='danger' *ngIf="resetForm.controls['email'].invalid">{{ getErrors('email') }}</ion-text>

            <ion-item class="form-group m-auto">
                <ion-icon class="ti-lock form-input-prefix mr-3"></ion-icon>
                <ion-input matInput formControlName="password" placeholder="Enter your password" [type]="(hide$ | async) ? 'password' : 'text'"></ion-input>
                <button (click)="hide$.next(!hide$.value)" type="button" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide$ | async">
                    <ion-icon color='dark' [name]='(hide$ | async) ? "eye-outline" : "eye-off-outline"'></ion-icon>
                </button>
            </ion-item>
            <ion-text color='danger' *ngIf="resetForm.controls['password'].invalid">{{ getErrors('password') }}</ion-text>

            <ion-item class="form-group m-auto">
                <ion-icon class="ti-lock form-input-prefix mr-3"></ion-icon>
                <ion-input matInput formControlName="password2" placeholder="Confirm password" [type]="(hide$ | async) ? 'password' : 'text'"></ion-input>
                <button (click)="hide$.next(!hide$.value)" type="button" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide$ | async">
                    <ion-icon color='dark' [name]='(hide$ | async) ? "eye-outline" : "eye-off-outline"'></ion-icon>
                </button>
            </ion-item>
            <ion-text color='danger' *ngIf="resetForm.controls['password2'].invalid">{{ getErrors('password2') }}</ion-text>
        </ion-list>

        <span class="mb-4 text-center w-100">
            <ion-text color='danger' *ngIf="globalError$ | async; let g" [innerHTML]="g"></ion-text>
            <ion-text color='success' *ngIf="complete$ | async" class="success-message">Password has been reset</ion-text>
        </span>

        <div class="justify-content-center d-flex form-group mx-auto">
            <button mat-raised-button color="primary" type="submit" [disabled]="processing$ | async">
                Reset Password
                <i *ngIf="processing$ | async" class="ml-2 fas fa-circle-notch fa-spin"></i>
            </button>
        </div>
    </form>
</ion-content>
