:root {
  /*** THEME COLOURS ***/

  /** primary **/
  --ion-color-primary: #894689;
  --ion-color-primary-rgb: 137, 70, 137;
  --ion-color-primary-shade: #743a74;
  --ion-color-primary-tint: #a055a0;

  /** secondary **/
  --ion-color-secondary: #b05f6d;
  --ion-color-secondary-rgb: 176, 95, 109;
  --ion-color-secondary-shade: #bc7783;
  --ion-color-secondary-tint: #a95765;

  /** tertiary **/
  --ion-color-tertiary: #ffc153;
  --ion-color-tertiary-rgb: 255, 193, 83;
  --ion-color-tertiary-shade: #ffca6d;
  --ion-color-tertiary-tint: #ffbb4c;
}