:root {
  /*** THEME COLOURS ***/

  /** primary **/
  --ion-color-primary: #462446;
  --ion-color-primary-rgb: 70, 36, 70;
  --ion-color-primary-shade: #624562;
  --ion-color-primary-tint: #3f203f;

  /** secondary **/
  --ion-color-secondary: #b05f6d;
  --ion-color-secondary-rgb: 176, 95, 109;
  --ion-color-secondary-shade: #bc7783;
  --ion-color-secondary-tint: #a95765;

  /** tertiary **/
  --ion-color-tertiary: #ffc153;
  --ion-color-tertiary-rgb: 255, 193, 83;
  --ion-color-tertiary-shade: #ffca6d;
  --ion-color-tertiary-tint: #ffbb4c;
}