<ion-content>
    <!-- Sign In Form -->
    <form [formGroup]="registerForm" class="d-flex flex-column h-100 pb-3 mx-3" (ngSubmit)="doRegister(registerForm.controls['username'].value, registerForm.controls['email'].value, registerForm.controls['password'].value)">
        <!-- Branding -->
        <div class="branding logo logo-branded w-100 m-auto"></div>

        <ion-list class='m-auto' color='dark' inset>
            <ion-item class="form-group m-auto">
                <ion-icon class="ml-3 ti-user form-ion-input-prefix"></ion-icon>
                <ion-input class='ml-3' mation-input formControlName="username" placeholder="Username"></ion-input>
            </ion-item>

            <ion-item class="form-group m-auto">
                <ion-icon class="ml-3 ti-email form-ion-input-prefix"></ion-icon>
                <ion-input class='ml-3' mation-input formControlName="email" type="email" placeholder="Email" email></ion-input>
            </ion-item>

            <ion-item class="form-group m-auto">
                <ion-icon class="ml-3 ti-lock form-ion-input-prefix"></ion-icon>
                <ion-input class='ml-3' mation-input formControlName="password" placeholder="Enter your password" [type]="hide ? 'password' : 'text'"></ion-input>
                <button mat-icon-button matSuffix (click)="hide = !hide" type="button" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </ion-item>

            <ion-item class="form-group m-auto">
                <ion-icon class="ml-3 ti-lock form-ion-input-prefix"></ion-icon>
                <ion-input class='ml-3' mation-input formControlName="password2" placeholder="Enter matching password" [type]="hide ? 'password' : 'text'"></ion-input>
                <button mat-icon-button matSuffix (click)="hide = !hide" type="button" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </ion-item>
        </ion-list>

        <span class="mb-4 text-center w-100">
            <ion-text color='danger' *ngIf="registerForm.controls['password'].invalid">{{ getErrors('password2') }}</ion-text>
            <ion-text color='danger' *ngIf="globalError" [innerHTML]="globalError"></ion-text>
        </span>

        <div class="justify-content-center d-flex form-group mx-auto">
            <button mat-raised-button color="primary" type="submit" [disabled]="processing">
                Register
                <i *ngIf="processing" class="ml-2 fas fa-spin fa-spinner"></i>
            </button>
        </div>

        <p matBody class="text-center m-auto">
            <ion-text color='dark'>
                By registering with NR Escape you agree to our
                <a [routerLink]="['/privacy-policy']">Privacy Policy</a> and
                <a [routerLink]="['/terms-and-conditions']">Terms & Conditions</a>
            </ion-text>
        </p>
    </form>
</ion-content>
