$custom-dark-purple: (
    50 : #e9e5e9,
    100 : #c8bdc8,
    200 : #a392a3,
    300 : #7e667e,
    400 : #624562,
    500 : #462446,
    600 : #3f203f,
    700 : #371b37,
    800 : #2f162f,
    900 : #200d20,
    A100 : #ff61ff,
    A200 : #ff2eff,
    A400 : #fa00fa,
    A700 : #e000e0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$custom-pink: (
    50 : #f6eced,
    100 : #e7cfd3,
    200 : #d8afb6,
    300 : #c88f99,
    400 : #bc7783,
    500 : #b05f6d,
    600 : #a95765,
    700 : #a04d5a,
    800 : #974350,
    900 : #87323e,
    A100 : #ffd1d7,
    A200 : #ff9eaa,
    A400 : #ff6b7e,
    A700 : #ff5268,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$custom-yellow: (
    50 : #fff8ea,
    100 : #ffeccb,
    200 : #ffe0a9,
    300 : #ffd487,
    400 : #ffca6d,
    500 : #ffc153,
    600 : #ffbb4c,
    700 : #ffb342,
    800 : #ffab39,
    900 : #ff9e29,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffebd6,
    A700 : #ffdfbd,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$custom-orange: (
    50 : #fdedeb,
    100 : #f9d3cc,
    200 : #f5b5ab,
    300 : #f19789,
    400 : #ee816f,
    500 : #eb6b56,
    600 : #e9634f,
    700 : #e55845,
    800 : #e24e3c,
    900 : #dd3c2b,
    A100 : #ffffff,
    A200 : #ffebea,
    A400 : #ffbdb7,
    A700 : #ffa59d,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
