<app-top-bar hasMenuButton=true hasQRButton=true></app-top-bar>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-grid>
        <ion-row class='mx-3'>
            <ion-col size='12' size-md='6'>
                <!-- Balance -->
                <section class='mt-3 mt-md-5 d-flex flex-row align-content-center justify-content-center'>
                    <ng-container *ngIf='!user.stripeConnectId'>
                        <ion-button color="primary" (click)='openLoginLink()'>
                            Complete login to start receiving
                        </ion-button>
                    </ng-container>

                    <app-balance-display *ngIf='balance$ | async'
                        [balances]='balance$ | async'
                        class='w-100 mx-lg-3'>
                    </app-balance-display>
                </section>

                <section class='mx-lg-5'>
                    <!-- Payment Methods -->
                    <div class='mat-typography my-4'>
                        <ion-list lines='full'>
                            <ion-list-header>
                                <ion-label>Payment Methods</ion-label>
                            </ion-list-header>

                            <ion-item *ngFor="let source of sources$ | async"
                                (click)="openSourceDialog(source.id)">
                                <!-- Popup update/delete modal -->
                                <div *ngIf='source.card' class='d-flex justify-content-between w-100'>
                                    <i class="mx-auto fab fa-cc-{{source.card.brand}}"></i>
                                    <span class='mx-auto text-secondary'>**** **** **** {{ source.card.last4 }}</span>
                                    <span class='mx-auto'>{{ source.card.exp_month }}/{{ source.card.exp_year }}</span>
                                </div>
                            </ion-item>

                            <ion-item (click)='openAddNewSource()'>
                                <span class='w-100 text-center'>Add New Payment Method</span>
                            </ion-item>
                        </ion-list>
                    </div>

                    <!-- Dashboard Link -->
                    <div *ngIf='user.stripeConnectId' class='w-100 text-center'>
                        <ion-button color="primary"
                            class='mx-auto'
                            [disabled]='!(dashboardLink | async)'
                            (click)='openDashboardLink()'>
                            Advanced Wallet Management
                            <i *ngIf='!(dashboardLink | async)' class='lead fas fa-circle-notch fa-spin ml-1'></i>
                        </ion-button>
                        <br><br>
                        <ion-button color="secondary"
                            class='mx-auto'
                            routerLink="/wallet/transaction/create"
                            [queryParams]="{ to: 'me' }">
                            Top Up Account
                        </ion-button>
                    </div>
                </section>
            </ion-col>

            <!-- Recent Transaction Log -->
            <ion-col size='12' size-md='6' class='my-3 pt-md-3'>
                <app-transaction-list [transactions]='transactions$ | async'></app-transaction-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>