/* Set icon width */
ion-icon {
    width: 32px;
}

/* Hide menu button for large screens */
@media(min-width: 992px) {
    #main-menu-toggle {
        display: none;
    }
}
/* Set secondary safe space */
@media(min-width: 768px) {
    ion-split-pane {
        --side-max-width: 12%;
    }
}