<ion-app>
    <app-top-bar>
        <ion-buttons slot="start">
            <ion-menu-toggle id='main-menu-toggle' menu='dir'>
                <ion-button><ion-icon slot='icon-only' name="menu-outline"></ion-icon></ion-button>
            </ion-menu-toggle>
        </ion-buttons>
    </app-top-bar>

    <ion-split-pane contentId="main">
        <ion-menu side='start' menuId='dir' contentId="main" type="overlay">
            <ion-content>
                <ion-list id="dir-list">
                    <ng-container *ngFor='let l of activeLinks() | async'>
                        <ion-menu-toggle auto-hide="false" *ngIf='l.condition'>
                            <ion-item routerDirection="root"
                                [routerLink]="l?.link"
                                [queryParams]="l?.params"
                                detail="false">
                                <ion-icon *ngIf='l?.icon' slot='start' class='{{ l.icon }}'></ion-icon>
                                <ion-label>{{ l.name }}</ion-label>
                            </ion-item>
                        </ion-menu-toggle>
                    </ng-container>
                    <ion-menu-toggle auto-hide="false" *ngIf='userSignedIn() | async'>
                        <ion-item button (click)='doSignOut()'
                            detail="false">
                            <ion-label>Logout</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main"></ion-router-outlet>
    </ion-split-pane>
</ion-app>