<ion-content>
    <!-- Sign In Form -->
    <form [formGroup]="authorizeForm"
        class="form-container d-flex flex-column h-100 pb-3"
        (ngSubmit)="doSignIn()">

        <!-- Branding -->
        <div class="branding logo logo-branded w-100 mx-auto my-5 d-block"></div>

        <mat-form-field class="form-group m-auto">
            <input matInput formControlName="password" placeholder="Enter your password" [type]="(hide | async) ? 'password' : 'text'" />
            <button mat-icon-button matSuffix (click)="hide.next(!hide)" type="button" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide | async">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <span matPrefix><i class="ti-lock form-input-prefix"></i></span>
            <mat-error *ngIf="authorizeForm.controls['password'].invalid">{{ getErrors('password') }}</mat-error>
        </mat-form-field>

        <span class="mb-4 text-center w-100"><mat-error *ngIf="globalError" [innerHTML]="globalError"></mat-error></span>

        <div class="justify-content-center d-flex form-group mx-auto">
            <button mat-raised-button color="primary" type="button" class="form-button-spacer" [routerLink]="['/password/reset']">Forgot Password</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="processing">
                Login
                <i *ngIf="processing" class="ml-2 fas fa-spin fa-spinner"></i>
            </button>
        </div>

    </form>
</ion-content>
