<app-top-bar hasMenuButton=true hasQRButton=true></app-top-bar>

<ion-content>
    <!-- Sign In Form -->
    <form [formGroup]="loginForm" class="d-flex flex-column h-100 pb-3 mx-3" (ngSubmit)="doSignIn(loginForm.controls['username'].value, loginForm.controls['password'].value)">
        <!-- Branding -->
        <div class="branding logo logo-branded w-100 m-auto"></div>

        <!-- Login Inputs -->
        <ion-list class='m-auto' color='dark' inset>
            <ion-item class="form-group m-auto">
                <ion-icon class="ti-user ml-3"></ion-icon>
                <ion-input class='ml-3' matInput formControlName="username" placeholder="Username"></ion-input>
            </ion-item>

            <ion-item class="form-group m-auto">
                <ion-icon class="ti-lock ml-3"></ion-icon>
                <ion-input class='ml-3' matInput formControlName="password" placeholder="Enter your password" [type]="hide ? 'password' : 'text'"></ion-input>
                <button mat-icon-button matSuffix (click)="hide = !hide" type="button" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </ion-item>
        </ion-list>

        <!-- Error Display -->
        <span class="mb-5 text-center w-100"><ion-text color='danger' *ngIf="globalError" [innerHTML]="globalError"></ion-text></span>

        <!-- Login Submission -->
        <div class="d-flex flex-row justify-content-between form-group mx-auto">
            <button mat-raised-button color="primary" type="button" class="mr-3" [routerLink]="['/password/reset']">Forgot Password</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="processing">
                Login
                <i *ngIf="processing" class="ml-2 fas fa-spin fa-spinner"></i>
            </button>
        </div>

        <!-- Registration -->
        <p matBody class="text-center m-auto">
            <ion-text color='dark'>
                Need an account? <a [routerLink]="['/register']">Sign up</a> here
            </ion-text>
        </p>
    </form>
</ion-content>