<mat-tab-group>
    <mat-tab *ngFor='let month of months | keyvalue:sortMonthMap' [label]='month.key'>
        <mat-list *ngIf='transactions'>
            <span *ngIf='!(transactions | dateFilter:"month":month.value:"createdAt").length'>
                <h3 mat-subheader>
                    <ion-text color='dark'>No Transactions Found</ion-text>
                </h3>
            </span>

            <span *ngFor='let transaction of transactions | dateFilter:"month":month.value:"createdAt"; trackBy:trackTransactionById'>
                <h3 mat-subheader>
                    <ion-text color='dark'>{{ transaction.createdAt | date:'short' }}</ion-text>
                </h3>
                <mat-list-item>
                    <p mat-line class='lead'>
                        <ion-text color='dark'>From: {{ transaction.fromUser?.username || 'Anonymous' }}</ion-text>
                    </p>
                    <p mat-line class='my-3' *ngIf='transaction.description'>
                        <ion-text color='dark'>Note: {{ transaction.description }}</ion-text>
                    </p>
                    <p mat-line class='text-right'>
                        <span *ngIf='transaction.forUserId === user.id' class='debit'>+</span>
                        <span *ngIf='transaction.forUserId !== user.id' class='credit'>-</span>
                        <span class='mx-1'>
                            <ion-text color='dark'>
                                {{ money.format(transaction.amount, transaction.currency) }}
                            </ion-text>
                        </span>
                    </p>
                </mat-list-item>

                <mat-divider></mat-divider>
            </span>
        </mat-list>
    </mat-tab>
</mat-tab-group>