<app-top-bar hasMenuButton=true hasQRButton=true></app-top-bar>

<ion-content>
    <div class='row h-100 w-100 pl-3 pl-md-0 mx-md-3'>
        <div class='col-12 col-md-6 d-flex flex-column justify-content-start align-items-center'>
            <!-- Current Balance -->
            <div class='mt-3 mt-md-5 d-flex flex-column align-content-center justify-content-start'>
                <app-balance-display *ngIf='balance' [balances]='balance | async' (currency)='onCurrencyChange($event)'></app-balance-display>
            </div>

            <!-- Default Bank Account for Currency -->
            <div class='mx-auto mt-md-2'>
                <p *ngIf='defaultAccount | async' class='text-center text-muted'>
                    <ion-text color='dark'>
                        Your default account for this currency is: <br>
                        {{ (defaultAccount | async)?.bank_name }} - {{ (defaultAccount | async)?.last4 }}
                    </ion-text>
                </p>
            </div>

            <!-- Next Payout Alert -->
            <div *ngIf='nextPayoutDate' class='mt-md-5 mb-md-3 d-flex flex-row justify-content-center align-content-start'>
                <mat-chip-list>
                    <mat-chip color="accent" selected>
                        Next payout date: {{ nextPayoutDate | async | date }}
                    </mat-chip>
                </mat-chip-list>
            </div>

            <!-- Advanced Management -->
            <div *ngIf='user.stripeConnectId' class='w-100 text-center my-5'>
                <p class='text-center text-muted mx-5'>
                    <ion-text color='dark'>
                        To add a new bank account and change where you withdraw your money to,
                        access advanced wallet management below
                    </ion-text>
                </p>
                <button
                    mat-raised-button
                    color="primary"
                    class='mx-auto'
                    [disabled]='!(dashboardLink | async)'
                    (click)='openDashboardLink()'>
                    Advanced Wallet Management
                    <i *ngIf='!(dashboardLink | async)' class='lead fas fa-circle-notch fa-spin ml-1'></i>
                </button>
            </div>

            <!-- Withdraw Form -->
            <div *ngIf='user.stripeConnectId' class='my-md-5'>
                <form [formGroup]='payout' class='row d-flex flex-row justify-content-center'>
                    <mat-form-field class='col-8'>
                        <input matInput
                            formControlName='amount'
                            placeholder="Amount"
                            type="number"
                            step='0.50'
                            class="text-right">
                        <span matPrefix class='mr-3'>{{ selectedCurrency | currencySymbol }}</span>
                    </mat-form-field>
                    <button mat-raised-button
                        type='submit'
                        color="primary"
                        class='col-4 my-auto'
                        [disabled]='processing | async'
                        (click)='submitPayout()'>
                        Withdraw
                        <i *ngIf='processing | async' class='lead fas fa-circle-notch fa-spin ml-1'></i>
                    </button>
                </form>
            </div>
        </div>

        <div class='col-12 col-md-6 d-none d-md-flex flex-column justify-content-center align-items-center'>
            <div class='my-auto'>
                <app-quotes></app-quotes>
            </div>
        </div>
    </div>
</ion-content>