/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Vendor styles */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "assets/css/themify-icons.css";

* {
    /* Set better text rendering */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Optimize image view */
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */

    /* Remove Scrollbars Globally */
    -ms-overflow-style: none;  // IE 10+
    scrollbar-width: none;  // Firefox
    scroll-behavior: smooth;
    ::-webkit-scrollbar, *::-webkit-scrollbar {
        display: none;
    }

    ion-content {
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: none;  // IE 10+
        scrollbar-width: none;  // Firefox
        scroll-behavior: smooth;

        &::-webkit-scrollbar {
            display: none; // Safari and Chrome
        }
    }
}

html, body {
    height: 100%;
    margin: 0;
    -webkit-overflow-scrolling: touch;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.text-black,
.icon-black,
.ptr--icon,
.ptr--text {
    color: var(--ulfurTextColor);
}

.dark-theme .text-secondary,
.dark-theme .text-muted {
    color: #908787 !important;
}

.branding {
    height: 180px;
}
.logo-branded, .logo {
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 70px;
    background-position: center;
}
.logo {
    background-image: var(--ulfurLogo);
}
.logo-branded {
    background-image: var(--ulfurLogoBranded);
}

@media(min-width: 768px) {
    .narrow-dialog .modal-wrapper {
        --max-width: 500px;
        --max-height: 400px;
    }
}