<app-top-bar hasMenuButton=true hasQRButton=true></app-top-bar>

<ion-content>
    <!-- Sign In Form -->
    <form [formGroup]="forgotForm" class="d-flex flex-column h-100 pb-3 mx-3" (ngSubmit)="doReset()">
        <!-- Branding -->
        <div class="branding logo logo-branded w-100 m-auto d-block"></div>

        <ion-list class='m-auto' color='dark' inset>
            <ion-item class="form-group m-auto">
                <ion-icon class="ti-user form-input-prefix mr-3"></ion-icon>
                <ion-input formControlName="email" type="email" placeholder="Account Email"></ion-input>
            </ion-item>
            <ion-text color='danger' *ngIf="forgotForm.controls['email'].invalid">{{ getErrors('email') }}</ion-text>
        </ion-list>

        <span class="m-4 text-center w-100">
            <ion-text color='danger' *ngIf="globalError$ | async; let g" [innerHTML]="g"></ion-text>
            <ion-text color='success' *ngIf="complete$ | async">Password reset email has been sent</ion-text>
        </span>

        <div class="justify-content-center d-flex form-group m-auto">
            <ion-button color="primary" type="submit" [disabled]="processing$ | async">
                Submit
                <i *ngIf="processing$ | async" class="ml-2 fas fa-circle-notch fa-spin"></i>
            </ion-button>
        </div>
    </form>
</ion-content>
