<app-top-bar hasMenuButton=true hasQRButton=true></app-top-bar>

<ion-content>
    <!-- Sign In Form -->
    <form [formGroup]="forgotForm" class="form-container h-100 d-flex flex-column pb-3" (ngSubmit)="doReset(forgotForm.controls['email'].value)">
        <!-- Branding -->
        <div class="branding logo logo-branded w-100 m-auto d-block"></div>

        <mat-form-field class="form-group m-auto">
            <input matInput formControlName="email" type="email" placeholder="Account Email" email/>
            <span matPrefix><i class="ti-user form-input-prefix"></i></span>
            <ion-text color='red' *ngIf="forgotForm.controls['email'].invalid">{{ getErrors('email') }}</ion-text>
        </mat-form-field>

        <span class="m-4 text-center w-100"><ion-text color='red' *ngIf="globalError" [innerHTML]="globalError"></ion-text></span>
        <span class="m-4 text-center w-100"><ion-text color='red' *ngIf="complete" class="success-message">Password reset email has been sent</ion-text></span>

        <div class="justify-content-center d-flex form-group m-auto">
            <button mat-raised-button color="primary" type="submit" [disabled]="processing">
                Submit
                <i *ngIf="processing" class="ml-2 fas fa-spin fa-spinner"></i>
            </button>
        </div>
    </form>
</ion-content>
