<ion-content>
    <div class='row mx-3 mat-typography'>
        <div class='col-12'>
            <div class='text-center w-100 my-5'>
                <app-qr [data]='qrData | async'
                    logo='assets/images/logo-marker.png'></app-qr>
                <div class='display-4 mt-3'>{{ user.username }}</div>
                <mat-chip-list class='d-flex flex-row justify-content-center mat-typography'>
                    <mat-chip class='display-4' color="accent" selected>{{ (stripeProfile | async)?.businessType || 'individual' | titlecase }}</mat-chip>
                </mat-chip-list>
            </div>
            <div class='text-center w-100 my-5'>
                <button color="primary"
                    mat-raised-button
                    [routerLink]="['/transaction/create']"
                    [queryParams]="{ to: (profile | async)?.id }">
                    <span *ngIf='user.id === (profile | async)?.id'>Top-up</span>
                    <span *ngIf='user.id !== (profile | async)?.id'>Transfer</span>
                    <i class="ml-2 fas fa-money-check"></i>
                </button>
            </div>
        </div>
    </div>
</ion-content>