<div class='row mx-3'>
    <div class='col-12 col-md-6 py-3'>
        <h3 class='text-left text-muted mat-subheading-2'>App</h3>
        <mat-divider></mat-divider>
        <div class='my-3 text-center'>
            <div class='my-3'><app-zoom-settings></app-zoom-settings></div>
            <div class='my-3'><app-theme-settings></app-theme-settings></div>
            <div class='my-3'><app-encrypt-login></app-encrypt-login></div>
        </div>
    </div>
    <div class='col-12 col-md-6 py-3'>
        <h3 class='text-left text-muted mat-subheading-2'>Profile</h3>
        <mat-divider></mat-divider>
        <div class='my-3 text-center'>
            <app-user-settings></app-user-settings>
        </div>
    </div>
</div>
