<app-top-bar hasMenuButton=true hasQRButton=true></app-top-bar>

<ion-content>
    <div class='row w-100 h-100 pl-3 pl-md-0 mx-md-3'>
        <div class='col-12 col-md-6'>
            <h3 class='my-3 display-3'>Create Payment</h3>

            <div class='mat-typography'>
                <p *ngIf='!!user && paymentAmount.get("currency").value !== user?.defaultCurrency' class='mat-small text-muted mx-5'>
                    You're transferring in a currency that isn't your default,
                    if your card or bank isn't in this currency your bank might charge you a fee.
                    Please be careful.
                </p>
                <p *ngIf='receiver && paymentAmount.get("currency").value !== receiver.defaultCurrency' class='mat-small text-muted mx-5'>
                    You're transferring in a currency different than the receivers default,
                    they might incur some international conversion fees.
                </p>
            </div>

            <mat-vertical-stepper linear
                (selectionChange)='onStepChange($event)'
                #paymentStepper>
                <mat-step [stepControl]='paymentAmount'>
                    <form [formGroup]='paymentAmount' class='d-flex flex-column'>
                        <ng-template matStepLabel>Payment Amount</ng-template>

                        <div class='d-flex flex-row justify-content-center'>
                            <mat-form-field class='col-9 p-0 pr-2'>
                                <input matInput
                                    formControlName='amount'
                                    placeholder="Amount"
                                    type="number"
                                    [min]='minAmount'
                                    step='0.50'
                                    class="text-right pr-3">
                                <span matPrefix class='mr-3'>{{ paymentAmount.value.currency | currencySymbol }}</span>
                            </mat-form-field>

                            <mat-form-field class='col-3 p-0'>
                                <mat-label>Currency</mat-label>
                                <mat-select formControlName='currency' (selectionChange)='onCurrencyChange()' required>
                                    <mat-option value="aud">AUD</mat-option>
                                    <mat-option value="nzs">NZD</mat-option>
                                    <mat-option value="cad">CAD</mat-option>
                                    <mat-option value="gbp">GBP</mat-option>
                                    <mat-option value="usd">USD</mat-option>
                                    <mat-option value="sgd">SGD</mat-option>
                                    <mat-option value="hkd">HKD</mat-option>
                                    <mat-option value="inr">INR</mat-option>
                                    <mat-option value="mxn">MXN</mat-option>
                                    <mat-option value="jpy">JPY</mat-option>
                                    <mat-option value="dkk">DKK</mat-option>
                                    <mat-option value="eur">EUR</mat-option>
                                    <mat-option value="nok">NOK</mat-option>
                                    <mat-option value="pln">PLN</mat-option>
                                    <mat-option value="sek">SEK</mat-option>
                                    <mat-option value="chf">CHF</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <mat-form-field>
                            <textarea matInput
                                formControlName='description'
                                placeholder="Add a note"
                            ></textarea>
                        </mat-form-field>

                        <div class='mt-3'>
                            <button mat-raised-button color='primary' matStepperNext>Next</button>
                        </div>
                    </form>
                </mat-step>

                <mat-step [stepControl]='paymentMethod'>
                    <form [formGroup]='paymentMethod'>
                        <ng-template matStepLabel>Payment Method</ng-template>

                        <mat-form-field>
                            <mat-label>Payment Method</mat-label>
                            <mat-select formControlName='method' (selectionChange)='onMethodChange()' required>
                                <mat-option
                                    *ngFor="let method of sources | async; index as i"
                                    label="method.card.last4"
                                    [value]="i">
                                    <div *ngIf='method.card'
                                        class='d-flex justify-content-between align-items-center w-100'>
                                        <i class="lead mx-auto fab fa-cc-{{method.card.brand}}"></i>
                                        <span class='mx-auto text-secondary'>**** {{ method.card.last4 }} - </span>
                                        <span class='mx-auto text-muted'>{{ method.card.exp_month }}/{{ method.card.exp_year }}</span>
                                    </div>
                                </mat-option>
                                <mat-option
                                    *ngIf='(balance | async) > 1 && user.country == receiver.country && ["US"].includes(user.country)'
                                    [value]="balance | async">
                                    <div class='d-flex justify-content-between align-items-center w-100'>
                                        <i class="lead mx-auto fas fa-wallet"></i>
                                        <span class='mx-auto'>Wallet Balance</span>
                                        <span class='mx-auto'></span>
                                    </div>
                                </mat-option>
                                <!-- FIXME: Not yet implemented
                                <mat-option value="sepa">
                                    <div class='d-flex justify-content-between align-items-center w-100'>
                                        <i class="lead mx-auto fas fa-university"></i>
                                        <span class='mx-auto'>Bank Transfer (SEPA)</span>
                                        <span class='mx-auto'></span>
                                    </div>
                                </mat-option>
                                -->
                                <mat-option value="new">
                                    <div class='d-flex justify-content-between align-items-center w-100'>
                                        <i class="lead mx-auto fab fa-cc-stripe"></i>
                                        <span class='mx-auto'>Add New Card</span>
                                        <span class='mx-auto'></span>
                                    </div>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div id='payment-request'></div>

                        <div [class.d-none]='!["sepa", "new"].includes(paymentMethod.get("method").value)'>
                            <div [class.d-none]="paymentMethod.get('method').value !== 'sepa'"
                                class='my-4'
                                #sepaElement
                                id='sepa-element'></div>
                            <div [class.d-none]="paymentMethod.get('method').value !== 'new'"
                                class='my-4'>
                                <div #cardElement id='card-element'></div>
                            </div>
                            <mat-checkbox formControlName='saveNewMethod'>Save Source</mat-checkbox>
                        </div>

                        <div class='mt-3'>
                            <button mat-raised-button color='accent' class='mr-3' matStepperPrevious>Back</button>
                            <button mat-raised-button
                                color='primary'
                                (click)='submitPayment()'
                                [disabled]='processing | async'>
                                Confirm
                                <i *ngIf='processing | async' class='lead fas fa-circle-notch fa-spin ml-1'></i>
                            </button>
                        </div>
                    </form>
                </mat-step>
            </mat-vertical-stepper>
        </div>

        <div class='col-12 col-md-6 d-none d-md-flex flex-column justify-content-center align-items-center'>
            <div class='my-auto'>
                <app-quotes></app-quotes>
            </div>
        </div>
    </div>
</ion-content>